In [1]:
# importing modules 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sb
from textblob import TextBlob

In [3]:
url="https://raw.githubusercontent.com/redashu/Datasets/refs/heads/master/shoes_reviews.csv"
df=pd.read_csv(url)
df.head()

  brand                                             review  rating
0  Nike  Best running shoes I've ever owned! Perfect cu...       5
1  Nike  Overpriced but good quality. Worth it for seri...       4
2  Nike     Sole started separating after 3 months of use.       2
3  Nike        Extremely comfortable right out of the box.       5
4  Nike     Great for basketball but runs half size small.       4